#!/usr/bin/make -f

export PYBUILD_NAME=pisicevir
export QT_QPA_PLATFORM=offscreen

%:
	dh $@ --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install --buildsystem=pybuild --destdir=$(CURDIR)/debian/tmp
